body {
    font-family: Arial;
    text-align: center;
}

#board {
    width: 300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    height: 100px;
    font-size: 40px;
    cursor: pointer;
}
